.Supporto{
    display: flex;
    background-color:#F4F1DE ;
    height: 214px;
}

.fraseSupporto{
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 30px;
}

.fraseSupporto h1{
    display: flex;
    align-items: center;
}

.Contributos{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: end;
    padding-right:30px ;
    gap: 15px;

}

.anchorSup{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px) {
    .Supporto{
        height: 100%;
    }
    .fraseSupporto{
        font-size: 15px;
        text-align: center;
        padding-left: 10px;
    }
    .Contributos{
        font-size: 10px;
    }
    

}