.Testo_articolo{
    display: flex;
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: start;
    align-items: center;

    
}

.boh{
    display: flex;
    justify-content: left;
    max-width: 100vh;
    /* height: 108px; */
}


@media (max-width: 768px) {
.Testo_articolo{
    font-size: 20px;
    flex-wrap: wrap;
    align-items: end;
    

}
    
}




